---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
const {id} = Astro.params;


export async function getStaticPaths() {
    const paths = [];
    for (let i = 1; i <= 1000; i++) {
        paths.push({params: {id: i.toString()}});
    }
    return paths;
}

const pokemons = await fetch(`https://tyradex.vercel.app/api/v1/gen/${id}`)
    .then(res => res.json())
    .then(data => data)
    .catch(err => console.log(err));
---

<Layout title = `Pokemons de la génération ${id}`>
    <Header>
        <span class="ml-2 md:ml-0">Generation {id}</span>
    </Header>
    <div class="flex flex-row flex-wrap w-full items-center justify-center text-center p-2">
    {
      pokemons.map((pokemon) => (
       <ul>

         <li><a href=`/pokemon/${pokemon.pokedexId}`> <img src={pokemon.sprites.regular} alt={pokemon.name.fr} class="h-32" transition:name=`media-image-${pokemon.name.fr}`>{pokemon.name.fr}</a></li>
         </ul>
      ))
       }
      </div>
</Layout>